[user]
	email = nbenketaf@gmail.com
	name = Nabil Benketaf
[core]
	editor = vim
	excludesfile = /Users/nbenketaf/.gitignore_global
[web]
	browser = google-chrome
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
